<h1><%= @stash.name %></h1>
<h1><%= image_tag(@stash.img_url)%></h1>
<h3>Stash contains: <%= @stash.snack.name %></h3>
<p>Description: <%= @stash.snack.description %></p>
<h4>Owned by: <%= link_to @stash.squirrel.name, squirrel_path(@stash.squirrel) %></h4>



<%= button_to "Edit", edit_stash_path(@stash), method: :get, class:"btn btn-success" %>
<br>
<%= button_to "Delete", stash_path(@stash), method: :delete, class: "btn btn-danger" %>
<%= link_to "Back to Stashes", stashes_path, class: "back-link" %>
