<h1>Create a new squirrel</h1>


<%= form_for @squirrel do |f|%>
    <div class="form-group">
        <%= f.label "Squirrel Name" %>
        <%= f.text_field :name, placeholder: "Enter Name",  class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label "Bio" %>
        <%= f.text_area :bio, placeholder: "Write the bio", class: "form-control"%>
    </div>
    <div class="form-group">
        <%= f.label "Avatar" %>
        <%= f.collection_select :avatar_id, Avatar.all, :id, :name %>
    </div>
    <%= f.submit "Create yo squirrel", class: "btn btn-info" %>
<% end %>


<%= link_to "Back to Squirrels", squirrels_path, class: "back-link" %>


