<h1><%= @squirrel.name %></h1>
<p><%= @squirrel.bio %></p>

<%= image_tag(@squirrel.avatar.img_url, alt: @squirrel.name) %>


<% if @squirrel.stashes.count < 1 %>
    <h3><%= @squirrel.name %> has no hidden stashes at the moment. ☹️ </h3> 
<% else %>
    <h3> Has <%=@count%> hidden Stashes:</h3>
    <ul class="zero-padding">
        <% @squirrel.stashes.each do |stash| %>
            <li>
              <h4><%= link_to stash.name, stash_path(stash)%></h4>
                <p><%= "#{stash.snack.name} (#{stash.snack.description})" %></p>
            </li>
        <% end %>
    </ul>
<% end %>

<%= button_to "Add Stash", new_stash_path, method: :get, class:"btn btn-success"%>
<br>
<%= button_to "Edit #{@squirrel.name}", edit_squirrel_path(@squirrel), method: :get, class:"btn btn-success" %>
<br>
<%= button_to "Delete #{@squirrel.name}", squirrel_path(@squirrel), method: :delete, class: "btn btn-danger" %>
<br>
<%= link_to "Back to Squirrels", squirrels_path, class: "back-link" %>




