<h1><%= @squirrel.name %></h1>
<p><%= @squirrel.bio %></p>

<%= image_tag(@squirrel.avatar.img_url, alt: @squirrel.name) %>

<% if @squirrel.stashes.count < 1 %>
    <h3><%= @squirrel.name %> has no hidden stashes at the moment. ☹️ </h3> 
<% else %>
    <h3>Hidden Stashes:</h3>
    <ul>
        <% @squirrel.stashes.each do |stash| %>
            <li>
              <h4><%= stash.name%></h4>
                <p>Snack: <%= "#{stash.snack.name} (#{stash.snack.description})" %></p>
            </li>
        <% end %>
    </ul>
<% end %>

<%= button_to "Edit #{@squirrel.name}", edit_squirrel_path(@squirrel), method: :get %>
<%= button_to "Delete #{@squirrel.name}", squirrel_path(@squirrel), method: :delete  %>
<%= link_to "Back to Squirrels", squirrels_path %> 




